.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (min-width: 769px) {
    .content {
      flex: 1 0 auto;
    }

    .footer {
      flex-shrink: 0;
    }
  }

  @media (max-width: 768px) {
    .content {
      padding-bottom: 24px;
    }

    .footer {
      position: static;
    }
  }
}

.toolbar {
  display: flex;
  align-items: center;
  background-color: var(--mat-sys-primary-container);

  .app-title {
    font-weight: bold;
    font-size: 18px;
    color: var(--mat-sys-primary);
  }

  .spacer {
    flex: 1 1 auto;
  }

  .desktop-nav {
    display: flex;
    gap: 8px;
  }

  .mobile-nav {
    display: none;
  }
}

@media (max-width: 768px) {
  .toolbar {
    .desktop-nav {
      display: none;
    }

    .mobile-nav {
      display: block;
    }
  }
}

.footer {
  font-size: 14px;
  justify-content: center;
  text-align: center;
  border-top: solid 1px var(--mat-sys-outline-variant);
}
